body {
    background-image: ("fondo.jfif");
}
.verde ¨ {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gold;
    font-size: 15px;
    color: black;
}
   .blanco {
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       background-color:gold;
       font-size: 15px;
       color: black;
   }
.azul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gold;
    font-size: 15px;
    color: black;
}
.negro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gold;
    font-size: 15px;
    color: black;
}
.rojo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gold;
    font-size: 15px;
    color: black;
}
